@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 0, 0%, 45%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --text-green-button: 0 0% 4%; /*#0A0A0A*/
    --card: 0 0% 9%; /*#171717*/
    --hover: 100 55% 39%; /*#519A2D*/
    --buttons: 105 36% 41%; /*#55d42*/
    --primary: 0 0% 60%; /*#999999*/
    --footer: 0 0% 36%; /*#5C5C5C*/
    --primary-border: 0 0% 45%; /*#737373*/
    --character-title: 0 0% 80%; /*#CCCCCC*/
    --buttons-primary: 105 55% 58%; /* #78CF5B */
  }
}


@layer base {
  *{
    @apply border-border;
  }

  body{
    @apply bg-background text-foreground;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    color: #737373;
  }

  ::-webkit-scrollbar {
    background-color: #3333334d;
    width: 14px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #73737386;
    border-radius: 10px;
  }
}
